/* Colors, colors everywhere... */

/* Legend 

Thanks to mycolor.space using A1 as a base
A = Highlight Palette
B = Neighbor Palette
C - Skip Shade Gradient
D - Natural Palette */

:root {
    --color-A1: #000000;
    --color-A2: #A69F95;
    --color-A3: #7A7A7A;
    --color-A4: #FFFFFF;
    --color-B1: #00254E;
    --color-B2: #5D83B1;
    --color-B3: #8EB2D9;
    --color-B4: #94A4AB;
    --color-C1: #21282B;
    --color-C2: #55575E;
    --color-C3: #91868A;
    --color-C4: #C9B4AF;
    --color-D1: #00254E;
    --color-D2: #5D83B1;
    --color-D3: #8EB2D9;
    --color-D4: #94A4AB;
    }