/* Colors, colors everywhere... */

/* Legend 

Thanks to mycolor.space using A1 as a base
A = Highlight Palette
B = Neighbor Palette
C - Skip Shade Gradient
D - Natural Palette */

:root {
--color-A1: #149ff5;
--color-A2: #0051B6;
--color-A3: #E6F4F1;
--color-A4: #EEE8A9;
--color-B1: #87CEFA;
--color-B2: #518882;
--color-B3: #005953;
--color-B4: #0E2523;
--color-C1: #87CEFA;
--color-C2: #00C3FA;
--color-C3: #00E2E5;
--color-C4: #77FAC6;
--color-D1: #149FF5;
--color-D2: #7193BC;
--color-D3: #F4FAFF;
--color-D4: #E6F4F1;
}