/*BS CSS*/

/* HEADER */
body {
    font-family: Roboto, sans-serif; /*Roboto is from Google Fonts */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure that the content takes at least the full height of the viewport */

    background-image: url('Assets/bg green to blue geometric 1.png');
    background-size: cover; /* Ensure the background image covers the entire section */
    background-position: center; /* Center the background image */
}

.site-header {
    background-color: var(--color-A1);
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

.site-header:hover {
    background-color: rgba(020, 159, 245, 0.4);
}

/* Style for "Brandon Stuff" */
.site-header h1 {
    color: white;
    margin: 0;
}

/* Hover effect for "Brandon Stuff" */
.site-header h1:hover {
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

/* Content area with flex-grow to fill remaining space */
section {
    flex-grow: 1;
}

/* FOOTER */
footer {
    background: linear-gradient(to right, var(--color-C1), var(--color-C2), var(--color-C3), var(--color-C4));
    padding: 1px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    transition: 0.5s;
}

footer:hover {
    background: linear-gradient(to right, rgba(135, 206, 250, 0.8), rgba(119, 250, 198, 0.4));
}
