/*BS CSS*/

/* HEADER */

/* Style for the link with the "home" ID */
#home-link {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: Roboto, sans-serif; /*Roboto is from Google Fonts */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure that the content takes at least the full height of the viewport */

    background-image: url('Assets/gradient_background.png');
    background-size: cover; /* Ensure the background image covers the entire section */
    background-position: center;
}

h2 {
    color: white;
    text-align: center;
}

.site-header {
    background-color: var(--color-A1);
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

.site-header:hover {
    background-color: rgba(33,40,43, 0.4);
}

.site-header h1 {
    color: white;
    margin: 0;
}

.site-header h1:hover {
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .uppernav {
    list-style: none;
    padding: 0;
    text-align: right;
  }
  
  .uppernav li {
    display: inline;
    margin-left: 10px;
  }
  
  .uppernav ul {
    list-style-type: none; /* Removes default list styling */
    margin: 0;
    padding: 0;
}


  .uppernav li a {
    text-decoration: none;
    padding: 8px 16px;
    background-color: rgba(135, 206, 250, 0);
    color: white;
    border-radius: 5px;
  }

  .uppernav:after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s, opacity 0.5s;
    pointer-events: none;
  }
  
  .uppernav:hover:after {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }



/* Content area with flex-grow to fill remaining space */
section {
    flex-grow: 1;
}

/* CONTENT MAIN */

.curved-box {
    background-color: rgba(85,87,94, 0.5);
    border-radius: 15px; /* Adjust the radius to control the curve */
    padding: 10px;
    margin: 5px;
    overflow: hidden;
    color: white; /* Set the text color to white */
}

/* .curved-box:hover {
    animation: upDownAnimation 4s infinite cubic-bezier(0.4, 0.0, 0.2, 1);
} */

.sleek-table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(230, 244, 241, 0.5); /* Same as .curved-box */
    border-radius: 15px; /* Rounded corners */
    overflow: hidden; /* Keeps the rounded corners for the table */
}

.sleek-table th, .sleek-table td {
    border: 1px solid #ccc; /* Light grey border */
    padding: 8px;
    text-align: left;
}

.sleek-table thead {
    background-color: #e6f4f1; /* Slightly darker shade for header */
}

/* Additional styling if needed */

/* Images for art.html */

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
}

/* 3 columns */
.image-box {
    width: calc(33.33% - 20px); /* Adjust the width and margin according to your preferences */
    margin: 10px;
    box-sizing: border-box;
}

/* 400x400 fixed */
.image-box-fixed {
    width: 400px;
    height: 400px; /* You can add this if you want to enforce a square aspect ratio */
    margin: 10px;
    box-sizing: border-box;
}

/* YOUTUBE TEST SECTION */


.containerYT {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.galleryYT {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
}



.galleryYT img{
    width: 100%;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transitions for box-shadow and transform */
}

.galleryYT img:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.815); /* Add a light shadow when hovering */
    transform: scale(1.05); /* Grow the image by 5% when hovering */
}








/* FOOTER */

footer {
    background: linear-gradient(to right, var(--color-C1), var(--color-C2), var(--color-C3), var(--color-C4));
    padding: 1px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    transition: 0.65s;
}

footer:hover {
   /* bg effect, delete comment to bring back {}{} background: linear-gradient(to right, rgba(33,40,43, 0.8), rgba(201,180,175, 0.4));*/
   opacity: 0.5;
}

/* ANIMATIONS */

@keyframes upDownAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-60px);
    }
}
